.nav {
    background: #ffac1c;
    transition: all 0.4s;

}

.nav:hover {
    background: #ffac1c;
    transition: all 0.4s;
}
.insta{
    background: radial-gradient(
        circle at 33% 100%,
        #fed373 4%,
        #f15245 30%,
        #d92e7f 62%,
        #9b36b7 85%,
        #515ecf
    );
}